<!DOCTYPE html>
<html>
  <head>
    <title>File Viewer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action='/' method='post' enctype='multipart/form-data'>
      <label>アップロード: </label>
      <input type='file' name='uploaded-file'>
      <input type='submit' value='送信'>
    </form>

    <h2>内容</h2>
    <p>種類: <%= mimetype %></p>
    <p>名前: <%= originalname %></p>
    <p>サイズ: <%= size %></p>
  </body>
</html>
